h1 {
	text-align: center;
}
img {
	display: inline-block;
	position: relative;
	height: 40%;
	margin-top: 3%;
	margin-left: 1%;
}

#topCard {
	margin-left: 34%;
}

.selected {
	border: 2px solid green;
}