.flex-all {
	display: flex;
	flex-direction: row;
	justify-content: left;;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.flex1 {
	height: 15%;
}

#side {
	display: flex;
	flex-direction: column;
	margin: auto 10px;
}

#undo {
    /* position: absolute; */
	display: inline-block;
	height: 8%;
    max-height: 64px;
}

#botHand, #yourHand {
	/* position: absolute; */
	display: flex;
	justify-content: center;
	width: 80%;
	/* height: 15%; */
	/* top: 10%; */
}

#indicator {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
}

/* #yourHand { */
	/* position: absolute; */
	/* display: block; */
	/* width: 100%; */
	/* max-height: 200px;
	width: 80%;
	height: 15%; */
	/* bottom: 10%; */
/* } */

#deck {
	/* position: absolute; */
	/* display: inline-block; */
	height: 20%;
	/* top: 28%; */
	/* margin-left: 2%; */
}

#scrap {
	/* position: absolute; */
	/* display: inline-block; */
	height: 20%;
	/* top: 49%; */

}



#field {
	position: relative;
	justify-content: center;
	/* display: inline-block; */
	border: 2px solid black;
	min-width: 1200px;
	width: 100%;
	min-height: 400px;
	max-height: 600px;

}


.field {
	/* display: block; */
	position: relative;
	height: 50%;
}
.fieldArea {
	display: inline-block;
	position: relative;
	/* height: 100%; */
	/* width: 50%;  */
	min-height: 200px;
	
}
#yourField {
	min-height: 200px;
}
#botField {
	min-height: 200px;
	display: flex;
	flex-direction: row;
}

.yourPointCard {
	/* height: 80%; */
	/* margin-top: 1%;
	/* margin-left: 1%; */
	display: inline-block;
}
.pointCardImg {
	display: inline-block;
	/* position: relative; */
	/* height: 100%; */
	max-height: 200px;
}

.jack {
	/* display: block; */
    /* position: fixed; */
	max-height: 200px;
	position: relative;
	margin-left: -90px;
	margin-right: 10px;

    /* top: -104%; */
    /* left: 7%; */
}

.legalMove {
	/* min-height: 100%; */
	background-color: rgb(91, 194, 69);
}
.validTarget {
	border: 3px solid rgb(91, 194, 69);
}

/*Scrap view overlaying field*/
app-scrap-view {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background-color: #FFF;
	z-index: 3;
}